<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div class="col-sm-8">
      <span (click)="goToHome()">Rental Management System</span>
    </div>
    <div class="col-sm-4" *ngIf="catalogResponse">
      <div class="dropdown-container">
        <button mat-button [matMenuTriggerFor]="location">Select Location</button>

        <mat-menu #location="matMenu">
          <button
            *ngFor="let location of catalogResponse.locations;let i = index"
            (mouseover)="selectedLocationIndex = i"
            (click)="showCategoriesFromLocation(location, i)"
            mat-menu-item
            [matMenuTriggerFor]="branch">
            {{location.name}}
          </button>
        </mat-menu>

        <mat-menu #branch="matMenu">
        <span *ngIf="selectedLocationIndex >= 0">
        <button *ngFor="let branch of catalogResponse.locations[selectedLocationIndex].branches; let j = index"
                (click)="showCategoriesFromBranch(branch, selectedLocationIndex, j)" mat-menu-item>{{branch.name}}</button>
        </span>
        </mat-menu>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
